body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  overflow: hidden;
  background-color: grey;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14x 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: green;
  color: black;
}
